In [2]:
import pandas as pd

In [16]:
schools_gs = pd.read_csv('schools_gs.csv')
print(schools_gs.shape)
schools_gs.head()

(950, 4)

,Unnamed: 0,School,Students,District
0,0,10/10Top ratedGreatSchools’ Summary Rating pro...,808.0,Weston School District
1,1,3/10Below averageGreatSchools’ Summary Rating ...,361.0,West Hartford School District
2,2,4/10Below averageGreatSchools’ Summary Rating ...,331.0,New Haven School District
3,3,4/10Below averageGreatSchools’ Summary Rating ...,603.0,Stamford School District
4,4,7/10Above averageGreatSchools’ Summary Rating ...,484.0,Danbury School District

In [17]:
districts_gs = pd.read_csv('districts_gs.csv')
print(districts_gs.shape)
districts_gs.head()

(205, 19)

,Unnamed: 0,district,district-href,english,math,ap_math,ap_sci,ap_other,low_income_perc,students_per_teacher,teachers_3yr,teacher_salary,rev_per_student,spend_per_student,spend_instruction,students,college,ap_total,local_rev
0,0,North Branford School District,https://www.greatschools.org/connecticut/north...,51%,51%,2%,7%,17%,16%,11.0,92%,"$64,421","$21,162","$17,939",49%,"1,777",86%,15%,63%
1,1,Trailblazers Academy District,https://www.greatschools.org/connecticut/stamf...,21%,21%,NaN,NaN,NaN,97%,NaN,NaN,NaN,"$24,464","$35,072",22%,119,21%,NaN,50%
2,2,Connecticut Technical High School,https://www.greatschools.org/connecticut/middl...,23%,23%,1%,NaN,NaN,38%,12.0,98%,NaN,NaN,NaN,NaN,"10,729",45%,<1%,NaN
3,3,New Beginnings Inc.,https://www.greatschools.org/connecticut/bridg...,22%,22%,NaN,NaN,NaN,91%,15.0,91%,NaN,"$13,834","$15,301",46%,497,22%,NaN,14%
4,4,Woodstock School District,https://www.greatschools.org/connecticut/woods...,46%,46%,NaN,NaN,NaN,10%,14.0,98%,"$66,339","$23,542","$15,388",42%,850,46%,NaN,60%

In [18]:
districts_acs = pd.read_csv('districts_acs.csv')
print(districts_acs.shape)
districts_acs.head()

(166, 3)

                          name  households  income
0      Andover School District        1216  105328
1      Ashford School District        1774   70952
2  Barkhamsted School District        1336  109688
3      Bethany School District        2018  129133
4       Bozrah School District         986   90156

In [19]:
pd.merge(
    districts_gs,
    districts_acs,
    how = 'left',
    left_on = 'district',
    right_on = 'name'
)

,Unnamed: 0,district,district-href,english,math,ap_math,ap_sci,ap_other,low_income_perc,students_per_teacher,...,rev_per_student,spend_per_student,spend_instruction,students,college,ap_total,local_rev,name,households,income
0,0,North Branford School District,https://www.greatschools.org/connecticut/north...,51%,51%,2%,7%,17%,16%,11.0,...,"$21,162","$17,939",49%,"1,777",86%,15%,63%,North Branford School District,5339.0,90461.0
1,1,Trailblazers Academy District,https://www.greatschools.org/connecticut/stamf...,21%,21%,NaN,NaN,NaN,97%,NaN,...,"$24,464","$35,072",22%,119,21%,NaN,50%,NaN,NaN,NaN
2,2,Connecticut Technical High School,https://www.greatschools.org/connecticut/middl...,23%,23%,1%,NaN,NaN,38%,12.0,...,NaN,NaN,NaN,"10,729",45%,<1%,NaN,NaN,NaN,NaN
3,3,New Beginnings Inc.,https://www.greatschools.org/connecticut/bridg...,22%,22%,NaN,NaN,NaN,91%,15.0,...,"$13,834","$15,301",46%,497,22%,NaN,14%,NaN,NaN,NaN
4,4,Woodstock School District,https://www.greatschools.org/connecticut/woods...,46%,46%,NaN,NaN,NaN,10%,14.0,...,"$23,542","$15,388",42%,850,46%,NaN,60%,Woodstock School District,3249.0,86821.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,200,Region 09,https://www.greatschools.org/connecticut/monro...,73%,73%,19%,NaN,NaN,3%,11.0,...,"$27,624","$23,217",63%,893,81%,26%,85%,Region 09,6251.0,136658.0
201,201,Canaan School District,https://www.greatschools.org/connecticut/canaa...,70%,44%,NaN,NaN,NaN,15%,7.0,...,"$37,013","$35,171",56%,71,44%,NaN,79%,Canaan School District,507.0,80298.0
202,202,Explorations District,https://www.greatschools.org/connecticut/winch...,NaN,NaN,<1%,NaN,NaN,42%,8.0,...,"$19,239","$15,348",39%,96,46%,<1%,29%,NaN,NaN,NaN
203,203,Weston School District,https://www.greatschools.org/connecticut/westo...,75%,75%,14%,17%,28%,2%,12.0,...,"$26,975","$23,320",49%,"2,329",93%,41%,85%,Weston School District,3447.0,222535.0
204,204,Region 16,https://www.greatschools.org/connecticut/prosp...,62%,62%,7%,9%,NaN,15%,13.0,...,"$21,526","$17,742",48%,"2,188",75%,23%,58%,Region 16,5794.0,96014.0